.navBarTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.navBarLogo{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarLogoImg{
    width: 100px;
    height: 70px;
    cursor: pointer;
}
.navBarLocation{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.detLoc{
    text-align: center;
    color: white;
    font-size: 10px;
}
.navBarSearch{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dropdown-basic{
    border-radius: 10px 0 0 10px;
    background-color: grey;
    border: 1px solid grey;
}
#searchBar{
    border-radius: 0 0 0 0;
}
#searchIcon{
    border-radius: 0 10px 10px 0;
}
.navBarRight{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarRightLang{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dropdown-lang{
    background:none;
    border: none;
}
.navBarRightSignin{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarRightRetOrd{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    cursor: pointer;
}
.navBarRightCart{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
}
.navBarRightEllipsis{
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;
    display: none;
}
.sgnAndReg{
    display: none;
}
@media(min-width:480px) and (max-width:768px){
    .navBarLogo{
        width: 23%;
    }
    .navBarRightEllipsis{
        display: flex;
        width: 28%;
    }
    .navBarRight{
        display: none;
    }
    .navBarSearch{
        width: 47%;
    }
    .navBarLocation{
        width: 18%;
    }
    .sgnAndReg{
        display: none;
    }
}
@media(min-width:320px) and (max-width:479px){
    .navBarRight{
        display: none;
    }
    .navBarLogo{
        width: 100%;
        display: flex;
    }
    .navBarRightEllipsis{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #faBarsIcon{
        width: 100%;
    }
    .navBarLocation{
        display: flex;
        width: 100%;
    }
    .locSymbol{
        display: none;
    }
    .detLoc{
        font-size: 13px;
        margin: 2px;
    }
    .navBarSearch{
        display: flex;
        width: 100%;
    }
    .navBarTotal{
        display: flex;
        flex-direction: column;
    }
    .sgnAndReg{
        display: flex;
        width: 70%;
        justify-content: right;
    }
    .navBarImgDiv{
        width: 30%;
    }
    .ellipsisSignIn{
        display: none;
    }
}
.showMenuUl{
    padding: 0;
    margin: 0;
    background-color: grey;
}
.showMenuLi{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#showMenuBtns{
    color: white;
    border-bottom: 1px solid white;
    border-radius: 0 0 0 0;
}
.langDivDropDown{
    width: 100%;
}
.langDropDownUl{
    padding: 0;
    margin: 0 4px;
    background-color: aliceblue;
}
#langDdBtns{
    color: black;
    border-bottom: 1px solid black;
    border-radius: 0 0 0 0;
}