.totaldiv{
    display: flex;
    flex-direction: column;
}
.footertopdiv{
    background-color:aliceblue;
}
.footerbottomdiv{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerbottomdiv1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerbottomanchor1{
    margin-right: 2vh;
    color: white;
    text-decoration: none;
}
.footerbottomanchor2{
    margin-left: 2vh;
    color: white;
    text-decoration: none;
}
.footerbottomdiv2{
    color: white;
}
.footerimg{
    height: 80px;
    width: 120px;
    background-color:aliceblue;
    margin-bottom: 2vh;
}
.footertopdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footertopdivb{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2vh;
}
.div1{
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    height: 205px;
}
.div2{
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    height: 205px;
    font-size: 13px;
}
.div3{
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    height: 205px;
}
.div4{
    border: 1px solid black;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    height: 205px;
}
.cardhead{
    font-weight: bold;
    text-decoration: underline;
    color: red;
    font-size: 18px;
}
.cardul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 1vh;
    color: white;

}
.socialicons{
    display:flex ;
    width: 180px;
    justify-content: space-around;
}
.usericon{
    width: 13px;
    height: 13px;
}